* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

header {
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
    background-image: url("./assets/images/white-abstract.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    background-attachment: fixed;
    background-position: 80%;
    position: -webkit-sticky;
    justify-content: space-between;
    height: 125px;
    position: sticky;
}

.sticky-stop {
    scroll-margin-top: 125px;
}

header h1 {
    font-size: 50px;
    text-shadow: 0 0 10px rgba(219, 219, 219, 0.5);
    font-weight: bold;
    padding: 5px;
    color: black;
}

/* header nav links - contains hover links that increase in size */

header nav {
    margin-top: 75px;
    margin-right: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    text-shadow: 0 0 10px rgba(55,55,55,0.5);
    padding-bottom: 1px;
}

/* animate, slide from right to left */

header nav ul li a:hover {
    font-size: 28px;
    transition: 0.3s;
    border-bottom: 4px solid black;
    color: white;
}

/*--------------------*/
/*   RESUME SECTION   */
/*--------------------*/

.spacer {
    background-image: url("./assets/images/white-abstract.jpg");
    background-size: cover;
    background-position: center;
    background-position: 80%;
    background-attachment: fixed;
    height: 125px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    padding-bottom: 40px;
}

.resume-box {
    background-color: rgb(156, 156, 156);
    opacity: .8;
    box-shadow: 0 0 10px black;
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 150px;
}

.resume-text h1 {
    text-align: center;
    position: relative;
    z-index: 3;
    padding-bottom: 7px;
}

/*--------------------*/
/*  RESUME CONTAINER  */
/*--------------------*/

.resume-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

/*--------------------*/
/*     LEFT COLUMN    */
/*--------------------*/

.left-column-container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.left-contents {
    text-align: right;
    border-right: 3px solid rgb(192, 99, 99);
    padding-right: 25px; 
    margin-top: 20px;
    line-height: 1.6;
}

.left-contents h1 {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;    
}

/*--------------------*/
/*    RIGHT COLUMN    */
/*--------------------*/

.right-column-container {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.right-contents {
    text-align: left;
    padding-left: 25px; 
    margin-top: 20px;
    line-height: 1.6;
}

.right-contents h1 {
    font-size: 25px;
}


/* -------------------------------------- */
/*               MEDIA QUERY              */
/* -------------------------------------- */


/*----------- MEDIA SCREEN 980 ---------*/

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        text-align: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 1px;
    }

    header nav {
        margin-top: 1px
    }

    header {
        position: sticky;
    }

    header nav ul {
        justify-content: center;
        font-size: 5vw;
    }

    header nav ul li a {
        font-weight: lighter;
        font-size: 25px;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        color: black;
        text-shadow: 0 0 10px rgba(55,55,55,0.5);
        margin-bottom: 25px;
    }

    header nav ul li a:hover {
        font-size: none;
        border-bottom: none;
    }

    .resume-container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
    }

    .left-contents h1 {
        font-size: 15px;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .left-contents p {
        font-size: 13px;
    }

    .left-contents {
        text-align: right;
        border-right: 3px solid rgb(192, 99, 99);
        padding-right: 10px; 
        margin-top: 20px;
        line-height: 1.6;
    }

    .resume-container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
    }

    .right-contents {
        text-align: left;
        padding-left: 10px; 
        margin-top: 20px;
        line-height: 1.6;
    }
    
    .right-contents h1 {
        font-size: 15px;
    }

    .right-contents p {
        font-size: 13px;
    }

}    

/*----------- MEDIA SCREEN 768 ---------*/

@media screen and (max-width: 768px) {
    header nav {
        margin-top: 5px;
        text-align: center;
    }

    header nav ul li a {
        padding: 5px 5px;
    }

    header {
        position: sticky;
    }

    header nav ul li a:hover {
        font-size: 25px;
    }

}

/*----------- MEDIA SCREEN 575 ---------*/

@media screen and (max-width: 575px) {
    
    header {
    position: sticky;
    }

    header nav ul li a:hover {
        font-size: 25px;
    }

}