* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
    background-image: url("./assets/images/white-abstract.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    background-attachment: fixed;
    background-position: 80%;
    position: -webkit-sticky;
    justify-content: space-between;
    height: 125px;
    position: sticky;
}

header h1 {
    font-size: 50px;
    text-shadow: 0 0 10px rgba(219, 219, 219, 0.5);
    font-weight: bold;
    padding: 30px;
    color: black;
}

/* header nav links - contains hover links that increase in size */

header nav {
    margin-top: 75px;
    margin-right: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 25px;
    padding: 10px 25px 6px;
    text-decoration: none;
    color: black;
    text-shadow: 0 0 10px rgba(55,55,55,0.5);
}

/* animate, slide from right to left */

header nav ul li a:hover {
    font-size: 35px;
    transition: 0.3s;
    border-bottom: 4px solid black;
    color: white;
}



/* -------------------------------------- */
/*               BODY                     */
/* -------------------------------------- */

body {


}

/* -------------------------------------- */
/*             BODY CONTAINER             */
/* -------------------------------------- */

.spacer {
    background-image: url("./assets/images/white-abstract.jpg");
    background-size: cover;
    background-position: center;
    background-position: 80%;
    background-attachment: fixed;
    height: 200px;
    z-index: 1;
}

.welcome-message {
    text-align: right;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 135px 15px 15px;
}

/* -------------------------------------- */
/*             GRID CONTAINER             */
/* -------------------------------------- */

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.first-column {
    font-size: 35px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: bold;
    border-left: 3px solid black;
    padding: 20px;
    margin: 20px;
}

.second-column {
    font-size: 20px;
    padding: 20px;
}

.grid-template {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repreat(1, 1fr);
    background: rgb(245, 245, 245);
    width: 100%;
    position: relative;
}

/*--------------------*/
/*   ABOUT ME GRID    */
/*--------------------*/

.about-me-container h2 {
    position: relative;
    z-index: 10;
    color: black;
    font-size: 35px;
}

.about-details-container h3 {
    position: relative;
    z-index: 5;
    color: black;
    font-size: 20px;
    left: 900px;
    overflow: hidden;
    transition: .4s;
}

.about-details-container::after {
    content: "";
    height: 85%;
    width: 80%;
    background: rgb(248, 207, 214);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 1s;
    margin: 20px 0 20px 0;
}

.about-me-grid:hover .about-details-container::after {
    opacity: .6;
}

.about-me-grid:hover .about-details-container h3 {
    left: 0;
}

/*--------------------*/
/*   PROJECTS GRID    */
/*--------------------*/

.projects-container h2 {
    position: relative;
    z-index: 10;
    color: black;
    font-size: 35px;
}

.project-details-container h3 {
    position: relative;
    z-index: 5;
    color: black;
    font-size: 20px;
    left: 900px;
    overflow: hidden;
    transition: .4s;
}

.project-details-container::after {
    content: "";
    height: 90%;
    width: 80%;
    background: rgb(248, 207, 214);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 1s;
    margin: 20px 0 20px 0;
}

.projects-grid:hover .project-details-container::after {
    opacity: .6;
}

.projects-grid:hover .project-details-container h3 {
    left: 0;
}

/*--------------------*/
/*   CONTACTS GRID    */
/*--------------------*/

.contact-container h2 {
    position: relative;
    z-index: 10;
    color: black;
    font-size: 35px;
}

.contact-details-container h3 {
    position: relative;
    z-index: 5;
    color: black;
    font-size: 20px;
    left: 900px;
    overflow: hidden;
    transition: .4s;
}

.contact-details-container::after {
    content: "";
    height: 100%;
    width: 80%;
    background: rgb(248, 207, 214);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 1s;
}

.contact-grid:hover .contact-details-container::after {
    opacity: .6;
}

.contact-grid:hover .contact-details-container h3 {
    left: 0;
}




/* -------------------------------------- */
/*               MEDIA QUERY              */
/* -------------------------------------- */

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        text-align: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 1px;
    }

    header nav {
        margin-top: 1px
    }

    header {
        position: sticky;
    }

    header nav ul li a:hover {
        font-size: 25px;
    }

}

@media screen and (max-width: 768px) {
    header nav {
        margin-top: 5px;
        text-align: center;
    }

    header nav ul li a {
        padding: 5px 5px;
    }

    header {
        position: sticky;
    }

    header nav ul li a:hover {
        font-size: 25px;
    }

}

@media screen and (max-width: 575px) {
    
    header {
    position: sticky;
    }

    header nav ul li a:hover {
        font-size: 25px;
    }

}
